h1 {
    text-align: center;
    margin-top: 75px;
    margin-bottom: 75px;
}
.movie {
    background-color: #eee;
    border-radius: 20px;
    margin-bottom: 50px;
    padding: 50px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.footer {
    color: white;
    text-align: center;
    font-size: 48px;
    background-color: #4d9fff;
    padding: 50px;
}
.movie .title {
    text-align: center;
}

.movie .poster {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

body {
    margin: 0;
}