.logo {
    width: 165px;
    height: 58px;
    margin-top: 80px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.menu {
    font-family: 'Helvetica';
    margin-top: 60px;
    margin-bottom: 60px;
    text-align: center;
}

.menu a {
    text-decoration: none;
    font-size: 16px;
    color: #58595b;
    margin-left: 10px;
    margin-right: 10px;
}

.pic {
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

